*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #0A0D12;
}

body {
  background-color: #0A0D12;
  color: #ffffff;
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0A0D12;
}

::-webkit-scrollbar-thumb {
  background: #333a45;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555f6e;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333a45 #0A0D12;
}
